/*Global Styles
------------------- */
body{
    color:#343434;
    margin-right: 100px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.about-me{
    text-align: justify;
    font-size: 18px;
    margin-left: 10px;
    margin-right:10px;
}

a:hover{
    text-decoration:none;
}

h2{
    margin: 0;
}

h3{
    margin-left:10px;
}
.content-wrap{
    width:800px;
    margin: 0 auto;
    padding: 60px 0;
}

/*Profile
------------------- */
header{
    background: #12232E;
    color: #F7FFF7;
    height:100px;
    margin-top:-25px;
    padding: 20px;
    border-style: solid;
    border-color: black;
}

/*Projects
------------------- */
.projects{
    background:#203647;
    color:white;
    border-style: solid;
    border-color: black;
    height:600px;
}
.projects a{
    color: white;
}

a:hover{
    color:red;
}

.projects .btn{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background:rgba(47,48,97,80%);
}

